In [44]:
import pandas as pd
import csv

# Load data csv
df = pd.read_csv('logs.csv')

def process_data(df):
    # Cek missing values
    print("Missing values:")
    print(df.isnull().sum())
    
    # Cek duplikat data
    print("Duplicate rows:")
    print(df[df.duplicated()])
    
    # Hapus duplikat data
    df = df.drop_duplicates()
    
    return df

# Buat data frame
open_product = df[df['textPayload'].str.contains('OPEN-CATEGORY')]
search_product = df[df['textPayload'].str.contains('SEARCH-PRODUCT')]
open_category = df[df['textPayload'].str.contains('OPEN-CATEGORY')]

In [45]:
# Proses data
open_product = process_data(open_product)
search_product = process_data(search_product)
open_category = process_data(open_category)

Missing values:
timestamp      0
textPayload    0
dtype: int64
Duplicate rows:
Empty DataFrame
Columns: [timestamp, textPayload]
Index: []
Missing values:
timestamp      0
textPayload    0
dtype: int64
Duplicate rows:
Empty DataFrame
Columns: [timestamp, textPayload]
Index: []
Missing values:
timestamp      0
textPayload    0
dtype: int64
Duplicate rows:
Empty DataFrame
Columns: [timestamp, textPayload]
Index: []

In [46]:
# Simpan data ke file CSV
open_product.to_csv('transformed_data/open_product.csv', index=False)
search_product.to_csv('transformed_data/search_product.csv', index=False)
open_category.to_csv('transformed_data/open_category.csv', index=False)

In [60]:
# df_op = pd.read_csv('transformed_data/open_product.csv')
# df_op

In [71]:
with open('transformed_data/open_product.csv', 'r') as file:
    reader = csv.DictReader(file)
    data = [row for row in reader]

transformed_data = []
for row in data:
    timestamp = row['timestamp']
    log_start = '[LOG_DE_START]'
    user_id = row['textPayload'].split()[1]
    action = row['textPayload'].split()[2]
    product_id = ' '.join(row['textPayload'].split()[3:-1])
    log_end = '[LOG_DE_END]'

    transformed_row = {
        'timestamp': timestamp,
        'log_start': log_start,
        'user_id': user_id,
        'action': action,
        'product_id': product_id,
        'log_end': log_end
    }
    transformed_data.append(transformed_row)

open_product = pd.DataFrame(transformed_data)
open_product.to_csv('transformed_data/open_product2.csv', index=False)
open_product = open_product.drop(['log_start', 'action', 'log_end'], axis=1)
open_product.to_csv('transformed_data/open_product3.csv', index=False)
df_op3 = pd.read_csv('transformed_data/open_product3.csv')
df_op3

,timestamp,user_id,product_id
0,2024-06-13 00:10:16,a7f8a359-59e1-4556-98e6-743b08e450cd,Hemat Uang
1,2024-06-13 01:09:19,a7f8a359-59e1-4556-98e6-743b08e450cd,Hemat Uang
2,2024-06-13 01:17:36,a7f8a359-59e1-4556-98e6-743b08e450cd,Hemat Uang
3,2024-06-13 01:18:00,a7f8a359-59e1-4556-98e6-743b08e450cd,Hemat Uang
4,2024-06-13 01:44:30,a7f8a359-59e1-4556-98e6-743b08e450cd,Hemat Uang
...,...,...,...
227,2024-06-13 21:41:27,481e699d-ae5e-451a-9bc0-101699f90abe,Perluas Wawasan
228,2024-06-13 23:19:21,44c3948c-d172-4e29-ad3c-b29575a123c6,Hemat Uang
229,2024-06-13 23:19:23,44c3948c-d172-4e29-ad3c-b29575a123c6,Hemat Uang
230,2024-06-13 23:26:00,44c3948c-d172-4e29-ad3c-b29575a123c6,Hemat Uang
231,2024-06-13 23:26:02,44c3948c-d172-4e29-ad3c-b29575a123c6,Hemat Uang

In [72]:
with open('transformed_data/search_product.csv', 'r') as file:
    reader = csv.DictReader(file)
    data = [row for row in reader]

transformed_data = []
for row in data:
    timestamp = row['timestamp']
    log_start = '[LOG_DE_START]'
    user_id = row['textPayload'].split()[1]
    action = row['textPayload'].split()[2]
    keyword = ' '.join(row['textPayload'].split()[3:-1])
    log_end = '[LOG_DE_END]'

    transformed_row = {
        'timestamp': timestamp,
        'log_start': log_start,
        'user_id': user_id,
        'action': action,
        'keyword': product_id,
        'log_end': log_end
    }
    transformed_data.append(transformed_row)

open_product = pd.DataFrame(transformed_data)
open_product.to_csv('transformed_data/search_product2.csv', index=False)
open_product = open_product.drop(['log_start', 'action', 'log_end'], axis=1)
open_product.to_csv('transformed_data/search_product3.csv', index=False)
df_sp3 = pd.read_csv('transformed_data/search_product3.csv')
df_sp3

              timestamp                               user_id     keyword
0   2024-06-13 06:32:48  81803ee0-2bd4-4df2-ac1f-eaa6776a8284  Hemat Uang
1   2024-06-13 13:07:22  81803ee0-2bd4-4df2-ac1f-eaa6776a8284  Hemat Uang
2   2024-06-13 13:10:41  81803ee0-2bd4-4df2-ac1f-eaa6776a8284  Hemat Uang
3   2024-06-13 14:40:26  97f2f284-423d-4865-9112-a9392a244cdb  Hemat Uang
4   2024-06-13 14:40:28  97f2f284-423d-4865-9112-a9392a244cdb  Hemat Uang
..                  ...                                   ...         ...
67  2024-06-13 23:26:06  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
68  2024-06-13 23:26:07  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
69  2024-06-13 23:26:07  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
70  2024-06-13 23:26:08  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
71  2024-06-13 23:26:08  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang

[72 rows x 3 columns]

In [73]:
with open('transformed_data/open_category.csv', 'r') as file:
    reader = csv.DictReader(file)
    data = [row for row in reader]

transformed_data = []
for row in data:
    timestamp = row['timestamp']
    log_start = '[LOG_DE_START]'
    user_id = row['textPayload'].split()[1]
    action = row['textPayload'].split()[2]
    category = ' '.join(row['textPayload'].split()[3:-1])
    log_end = '[LOG_DE_END]'

    transformed_row = {
        'timestamp': timestamp,
        'log_start': log_start,
        'user_id': user_id,
        'action': action,
        'category': product_id,
        'log_end': log_end
    }
    transformed_data.append(transformed_row)

open_product = pd.DataFrame(transformed_data)
open_product.to_csv('transformed_data/open_category2.csv', index=False)
open_product = open_product.drop(['log_start', 'action', 'log_end'], axis=1)
open_product.to_csv('transformed_data/open_category3.csv', index=False)
df_oc3 = pd.read_csv('transformed_data/open_category3.csv')
df_oc3

               timestamp                               user_id    category
0    2024-06-13 00:10:16  a7f8a359-59e1-4556-98e6-743b08e450cd  Hemat Uang
1    2024-06-13 01:09:19  a7f8a359-59e1-4556-98e6-743b08e450cd  Hemat Uang
2    2024-06-13 01:17:36  a7f8a359-59e1-4556-98e6-743b08e450cd  Hemat Uang
3    2024-06-13 01:18:00  a7f8a359-59e1-4556-98e6-743b08e450cd  Hemat Uang
4    2024-06-13 01:44:30  a7f8a359-59e1-4556-98e6-743b08e450cd  Hemat Uang
..                   ...                                   ...         ...
227  2024-06-13 21:41:27  481e699d-ae5e-451a-9bc0-101699f90abe  Hemat Uang
228  2024-06-13 23:19:21  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
229  2024-06-13 23:19:23  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
230  2024-06-13 23:26:00  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang
231  2024-06-13 23:26:02  44c3948c-d172-4e29-ad3c-b29575a123c6  Hemat Uang

[232 rows x 3 columns]